.queue-container {
  width: 100%;
  height: 35%;
  border-radius: 30px;
  border-top-right-radius: 0px;
  background-color: #3e61d2;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #3e61d2 40px
    ),
    repeating-linear-gradient(#4767d055, #4767d0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.queue {
  height: 85%;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.upNext {
  font-size: 20px;
  font-weight: 700;
  color: #c3d0e3;
  text-align: left;
  margin: 10px 30px;
}
.queue-list {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  text-align: left;
  font-weight: 700;
}
.queue-list::-webkit-scrollbar {
  display: none;
}
.track-name {
  width: 75%;
  text-decoration: ellipsis;
}
.queue-item {
  width: 100%;
  justify-content: space-between;
  padding: 4px 0px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.queue-item:hover {
  transform: scale(0.95);
  transition: all 0.2s ease;
}
.queue-item p {
  margin: 0px;
}
.p {
  padding-right: 30px;
}
